# **Práctica 06 - Métricas de Similitud**

<ul type="none">
<li>Nombre:      <b>Martínez López Andrés</b></li>
<li>No. Cuenta:  <b>314138567</b></li>
<li>Email:       <b>andres.mtz.cu@gmail.com</b></li>
</ul>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [3]:
url = 'https://raw.githubusercontent.com/AndresMtzLpz/Mineria-de-Datos/master/Practicas/Practica04/Hipoteca.csv'
Hipoteca = pd.read_csv(url)

In [4]:
Hipoteca

     ingresos  gastos_comunes  pago_coche  ...  hijos  trabajo  comprar
0        6000            1000           0  ...      2        2        1
1        6745             944         123  ...      3        6        0
2        6455            1033          98  ...      1        8        1
3        7098            1278          15  ...      0        3        0
4        6167             863         223  ...      0        3        1
..        ...             ...         ...  ...    ...      ...      ...
197      3831             690         352  ...      0        2        0
198      3961            1030         270  ...      3        8        0
199      3184             955         276  ...      3        8        0
200      3334             867         369  ...      2        5        0
201      3988            1157         105  ...      0        4        0

[202 rows x 10 columns]

## **0.- Ejemplos de Clase**

### 1.- Distancia Euclidiana

In [5]:
from scipy.spatial import distance
E1 = (10000,1,0,0,0,0,7,15,1)
E2 = (20000,0,1,1,0,1,3,3,0)
dstEuclidiana = distance.euclidean(E1, E2)
dstEuclidiana

10000.008249996597

In [6]:
from math import sqrt
E1 = (10000,1,0,0,0,0,7,15,1) #Datos del punto 1
E2 = (20000,0,1,1,0,1,3,3,0) #Datos del punto 2
#La funcion zip() es un iterador de tuplas
dst1 = sqrt(sum((E1-E2)**2 for E1, E2 in zip(E1, E2)))
dst1

10000.008249996597

In [7]:
import numpy as np
import matplotlib.pyplot as plt
E1 = np.array([10000,1,0,0,0,0,7,15,1])
E2 = np.array([20000,0,1,1,0,1,3,3,0])
dst2 = np.sqrt(np.sum((E1-E2)**2))
dst2

10000.008249996597

### 2.- Distancia de Chebyshev

In [8]:
from scipy.spatial import distance
E1 = (10000,1,0,0,0,0,7,15,1)
E2 = (20000,0,1,1,0,1,3,3,0)
dstChebyshev = distance.chebyshev(E1, E2)
dstChebyshev

10000

### 3.- Distancia de Manhattan

In [9]:
from scipy.spatial import distance
E1 = (10000,1,0,0,0,0,7,15,1)
E2 = (20000,0,1,1,0,1,3,3,0)
dstManhattan = distance.cityblock(E1, E2)
dstManhattan

10021

### 4.- Distancia de Minkowski

In [10]:
from scipy.spatial import distance
E1 = (10000,1,0,0,0,0,7,15,1)
E2 = (20000,0,1,1,0,1,3,3,0)
dstMinkowski = distance.minkowski(E1, E2, 1.5)
dstMinkowski

10000.363791487287

### 5.- Distancia de Hamming

In [11]:
#Cadenas
cadena_1 = 'Distancias'
cadena_2 = 'Distorsión'

In [12]:
from scipy.spatial import distance
dstHamming = distance.hamming(list(cadena_1), list(cadena_2)) * len(cadena_1)
dstHamming

5.0

In [13]:
from scipy.spatial import distance
dstHamming = distance.hamming(list('euclidean'), list('manhattan')) * len('euclidean')
dstHamming

7.0

## **1.- Matriz de distancias: Euclidiana**

In [14]:
from scipy.spatial.distance import cdist
Distancias = cdist(Hipoteca, Hipoteca, metric='euclidean')
MEuclidiana = pd.DataFrame(Distancias)

In [15]:
print(MEuclidiana)

               0              1    ...            200            201
0         0.000000  236994.701964  ...   37975.571227  147421.532182
1    236994.701964       0.000000  ...  261065.405879  380612.957023
2     78577.840350  315439.176808  ...   66722.600009   78717.767975
3    260974.591407   26550.527773  ...  286156.617026  405600.560294
4     51769.581416  287970.807817  ...   35401.101452   96032.256950
..             ...            ...  ...            ...            ...
197   53923.596347  275716.907131  ...   16605.967753  105548.977428
198  122858.123985  357126.266127  ...   96491.998140   24895.261437
199   18967.999420  249015.957900  ...   19149.935143  132563.033841
200   37975.571227  261065.405879  ...       0.000000  119582.974486
201  147421.532182  380612.957023  ...  119582.974486       0.000000

[202 rows x 202 columns]

## **2.- Matriz de distancias: Chebyshev**

In [16]:
from scipy.spatial.distance import cdist
Distancias = cdist(Hipoteca, Hipoteca, metric='chebyshev')
MChebyshev = pd.DataFrame(Distancias)

In [17]:
print(MChebyshev)

          0         1         2    ...       199       200       201
0         0.0  236897.0   78221.0  ...   14435.0   30015.0  142420.0
1    236897.0       0.0  315118.0  ...  248872.0  260005.0  379317.0
2     78221.0  315118.0       0.0  ...   66246.0   55113.0   64199.0
3    260933.0   24036.0  339154.0  ...  272908.0  284041.0  403353.0
4     51068.0  287965.0   27153.0  ...   39093.0   27960.0   91352.0
..        ...       ...       ...  ...       ...       ...       ...
197   39277.0  273777.0   46740.0  ...   24905.0   13772.0  105540.0
198  119579.0  356476.0   41358.0  ...  107604.0   96471.0   22841.0
199   14435.0  248872.0   66246.0  ...       0.0   15580.0  130445.0
200   30015.0  260005.0   55113.0  ...   15580.0       0.0  119312.0
201  142420.0  379317.0   64199.0  ...  130445.0  119312.0       0.0

[202 rows x 202 columns]

## **3.- Matriz de distancias: Manhattan**

In [18]:
from scipy.spatial.distance import cdist
Distancias = cdist(Hipoteca, Hipoteca, metric='cityblock')
MManhattan = pd.DataFrame(Distancias)

In [19]:
print(MManhattan)

          0         1         2    ...       199       200       201
0         0.0  244759.0   86474.0  ...   29640.0   56348.0  182937.0
1    244759.0       0.0  330117.0  ...  260529.0  287219.0  413618.0
2     86474.0  330117.0       0.0  ...   91786.0   96298.0  112701.0
3    267180.0   36279.0  343632.0  ...  296786.0  323494.0  449329.0
4     60166.0  290551.0   43970.0  ...   48342.0   52608.0  123615.0
..        ...       ...       ...  ...       ...       ...       ...
197   79103.0  309758.0   91619.0  ...   50941.0   23895.0  107776.0
198  150173.0  380902.0   79933.0  ...  122357.0   99437.0   33162.0
199   29640.0  260529.0   91786.0  ...       0.0   27080.0  155517.0
200   56348.0  287219.0   96298.0  ...   27080.0       0.0  128799.0
201  182937.0  413618.0  112701.0  ...  155517.0  128799.0       0.0

[202 rows x 202 columns]

## **4.- Matriz de distancias: Minkowski**

In [20]:
from scipy.spatial.distance import cdist
Distancias = cdist(Hipoteca, Hipoteca, metric='minkowski',p=1.5)
MMinkowski = pd.DataFrame(Distancias)

In [21]:
print(MMinkowski)

               0              1    ...            200            201
0         0.000000  237690.995925  ...   42815.775409  155395.390030
1    237690.995925       0.000000  ...  264889.398939  385435.511309
2     79782.466760  317144.541987  ...   74602.554581   87986.061870
3    261389.573558   28999.550044  ...  292321.617039  412690.548292
4     53372.216100  288074.733923  ...   39959.337646  102457.030136
..             ...            ...  ...            ...            ...
197   60770.233816  281405.644842  ...   18533.862289  105666.374403
198  128687.635109  360119.702102  ...   96693.282992   27020.702704
199   21714.620373  250061.119850  ...   21366.111532  137107.587276
200   42815.775409  264889.398939  ...       0.000000  120748.666597
201  155395.390030  385435.511309  ...  120748.666597       0.000000

[202 rows x 202 columns]